 h1 { text-align:center;}
	.tg  {border-collapse:collapse;border-color:#C44D58;width:20%;height: 20%;border-spacing:0;margin:0px auto;} 

	.tg td{background-color:#F9CDAD;border-color:#C44D58;border-style:solid;border-width:3px;color:#002b36;
		font-family:Arial, sans-serif;font-size:70px;overflow:hidden;padding:70px 70px;word-break:normal;}

	/* .tg th{background-color:#FE4365;border-color:#C44D58;border-style:solid;border-width:1px;color:#fdf6e3;
	font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:50px 100px;word-break:normal;}  */
  
	.tg .tg-lpcd{background-color:#38fff8;border-color:#C44D58;font-size:60px;text-align:middle;vertical-align:middle}

	/* .tg .tg-7l5o{background-color:#38fff8;border-color:inherit;font-size:36px;text-align:left;vertical-align:middle} */